<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\Logs\ProtelSocketScanner.txt"/>
			<appendToFile value="true"/>
			<maximumFileSize value="1500KB"/>
			<maxSizeRollBackups value="30"/>
			<layout type="log4net.Layout.PatternLayout">
				<header value="    ============================== Protel Document Scanner START ==============================  "/>
				<footer value="  ======================== Protel Document Scanner EXIT ========================  "/>
				<conversionPattern value="%date{dd/MM/yyyy HH:mm:ss,fff} [%thread] [%L] [%-5level] [%logger] [%method] - %message%newline"/>
			</layout>
		</appender>

		<appender name="DebugAppender" type="log4net.Appender.DebugAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd/MM/yyyy HH:mm:ss,fff} [HIT-DOCSCAN] [%thread] [%L] [%-5level] [%logger] [%method] - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="Info"/>
			<appender-ref ref="LogFileAppender"/>
			<appender-ref ref="DebugAppender"/>
		</root>
	</log4net>
</configuration>
